
.checker {
    stroke: rgba(0,0,0, 0.87);
}

.selectable-container:hover .checker.selectable :first-child, .checker.selected :first-child {
    filter: url(#selectionGlow);
}

.checker * {
    filter: url(#dropshadow);
}

.checker.white {
    fill: wheat;
}

.checker.black {
    fill: #251203;
}

.felt rect:first-child {
    fill: #004000;
}

.felt rect:nth-child(2) {
    filter: url(#noise);
    opacity: 0.1;
}

.walls {
    fill: #48260d;
    filter: url(#dropshadow);
}

.point.white {
    fill: #997950
}
.point.black {
    fill: #351e10;
}


.die {
    stroke: rgba(0,0,0, 0.87);
}

.die.selectable:hover :first-child {
    filter: url(#selectionGlow);
}

.die rect {
    filter: url(#dropshadow);
}

.die.white {
    fill: wheat;
}

.die.white .pip {
    fill: #251203;
}

.die.black {
    fill: #251203;
}

.die.black .pip {
    fill: wheat;
}
